.testimonials{
    padding: 7rem 0;
    background-color: $color-grey;

    &__wraper {
        max-width: 73rem;
    }

    .heading-tertiary {
        text-align: center;
    }

    &__text {
        font-size: 1.6rem;
        text-align: center;
    }
}


  