.background-grey {
    background-color: $color-grey !important;
}
.background-primary {
    background-color: $color-primary !important;
}
.background-white {
    background-color: $color-white !important;
}

  